*,*::before,*::after {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');
body {
  font-family: 'Roboto', 'Microsoft JhengHei', sans-serif;
  line-height: 1.5;
  font-weight: 500;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}