.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
// Flex
.d-flex {
    display: flex;
}
.f-jcc {
    justify-content: center;
}
.f-aic {
    align-items: center;
}
// Text
.text-center {
    text-align: center;
}
.text-primary {
    color: $primary-color;
}
.text-seconary {
    color: $secondary-color;
}
// Margin、Padding Spacer
@each $spacer-prefix, $spacer-property in $spacer-prefixs {
    @for $i from 1 through $spacer-amount {
        .#{$spacer-prefix}-#{$i} {
            #{$spacer-property}: $spacer * .25 * $i;
        }
    }
}
// line-height
@for $i from 3 through 10 {
    .lh-#{$i} {
        line-height: $spacer * .25 * $i;
    }
}
// font-size
@for $i from 3 through 20 {
    .fs-#{$i} {
        font-size: $spacer * .25 * $i;
    }
}
