.container {
    max-width: 1200px;
    margin: 0 auto;
}
.d-inline {
    display: inline;
}
.d-iblock {
    display: inline-block;
}
.d-block {
    display: block;
}
// Flex
.d-flex {
    display: flex;
}
.f-jcc {
    justify-content: center;
}
.f-jcsa {
    justify-content: space-around;
}
.f-jcsb {
    justify-content: space-between;
}
.f-aic {
    align-items: center;
}
.f-asc {
    align-self: center;
}
.fd-column{
    flex-direction: column;
}
.fw-wrap {
    flex-wrap: wrap;
}
// Text
.text-center {
    text-align: center;
}
.text-primary {
    color: $primary-color;
}
.text-seconary {
    color: $secondary-color;
}
.fs-italic {
    font-style: italic;
}
.fs-normal {
    font-style: normal;
}
// Margin、Padding Spacer
.m-auto{
    margin: 0 auto;
}
@each $spacer-prefix, $spacer-property in $spacer-prefixs {
    @for $i from 1 through $spacer-amount {
        .#{$spacer-prefix}-#{$i} {
            #{$spacer-property}: $spacer * .25 * $i;
        }
    }
}
@for $i from 3 through 10 {
    // line-height
    .lh-#{$i} {
        line-height: $spacer * .25 * $i;
    }
}
@for $i from 3 through 20 {
    // font-size
    .fs-#{$i} {
        font-size: $spacer * .25 * $i;
    }
}
@for $i from 1 through 9 {
    // font-weight
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}
// Color
.bg-secondary{
    background-color: $secondary-color;
}