.info {
    &--banner {
        min-height: 100vh;
        @include make-banner('../images/banner.png');
    }
    &__Cnt {
        &__title {
            line-height: 6.625rem;
        }
        &__icon {
            li a {
                display: inline-block;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
.about {
    &__Cnt {
        &__title {
            line-height: 5.25rem;
        }
        &__avatar {
            width: 24rem;
        }
        &__exp{
            width: 24rem;
            border-top: 1px solid black;
            line-height: 2rem;
            li {
                // position: relative;
                &::before {
                    // content: '';
                    // width: 1.375rem;
                    // height: 1.375rem;
                    // border-radius: 50%;
                    // background: #891818;
                    // position: absolute;
                    // top: 50%;
                    // transform: translate(calc(-100% - 1rem), -50%);
                    content: "⬤";
                    color: #891818;
                    margin-right: 1rem;
                }
            }
        }
    }
}
.brand {
    &Cnt {
        &__title {
            line-height: 5.25rem;
        }
        
        
    }
}