.info {
    &--banner {
        min-height: 100vh;
        @include gen-banner('../images/banner.png');
    }
    &__content {
        padding-top: 308px;
        &__title {
            line-height: 106px;
        }
        &__list {
            &__iconLink {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
.about {

}