.info {
    &--banner {
        min-height: 100vh;
        @include gen-banner('../images/banner.png');
    }
    &__content{
        &__title{
            line-height: 106px;
            span{
                line-height: 42px;
            }
        }
    }
}